<header>
    <nav>
        <div class="logo-container">
            <img src="/images/logo.png" alt="Logo de la empresa" class="logo">
        </div>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#projects">Proyectos</a></li>
            <li><a href="#about">Sobre Nosotros</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
    </nav>
</header>

