<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Mario's</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/header") %>
    
    <main>
        <section id="hero">
            <h1>Bienvenido a superMario's</h1>
            <p>Mostramos lo mejor de tu trabajo en línea</p>
        </section>

        <section id="services">
            <h2>Servicios</h2>
            <p>Descripción breve de servicios.</p>
        </section>

        <section id="projects">
            <h2>Proyectos</h2>
            <p>Galería de proyectos destacados.</p>
        </section>

        <section id="about">
            <h2>Sobre Nosotros</h2>
            <p>Información sobre la empresa.</p>
        </section>

       <section id="contact">
            <h2>Contacto</h2>
        </section>
    </main>

    <%- include("partials/footer") %>
</body>
</html>
