@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-image: url("../images/image.png");

    background-size: cover; /* Ajusta la imagen para que cubra todo el header */
    background-position: center; /* Centra la imagen */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}


  header button {
    background: none;
    border: none;
    color: #4caf50;
    font-size: 1.5rem;
    cursor: pointer;
  }

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
  }
  
  .logo-container {
    display: flex; /* Mantiene el contenedor como un flex container */
    align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Alinea al centro el logo y el nombre */
    flex-grow: 1; /* Hace que este contenedor ocupe el espacio restante */
  }

.logo-container h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #4caf50 0%, #8bc34a 50%, #cddc39 100%);
    -webkit-background-clip: text; /* WebKit, para Chrome y Safari */
    background-clip: text; /* Propiedad estándar */
    -webkit-text-fill-color: transparent;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    
}

.logo {
    max-width: 70px;
    height: auto; /* Mantiene proporción del logo */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.logo:hover {
    transform: scale(1.1); /* Efecto de zoom */
}

/* Estilos del pie de página */


footer {
    text-align: center;
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    position: relative; /* Asegura que esté en el flujo del documento */
    height: auto; /* Se ajusta al contenido */
    z-index: 2000; /* Más alto que el sidebar */
}



/* carousel foto grande*/

.carousel{
    width: 100vw;
    height: 98vh;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 200px; /* tamanio de las fotos de la lista */
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 80%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}





.list .item .content{
    position: absolute;
    top: 20%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 100px;
    text-transform: uppercase;
    text-align: left;
    color: #14ff72cb;
    font-weight: bold;
    line-height: 1;

    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}


.content .name{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);

    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;

    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */




/* next prev arrows */

.arrows{
    position: absolute;
    top: 60%;
    right: 68%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(135deg, #4caf50, #8bc34a);
    color: #fff;
    border: 2px solid transparent;
    outline: none;
    font-size: 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
}

.arrows button:hover {
    background: linear-gradient(135deg, #ffffff, #e0e0e0);
    color: #4caf50;
    border: 2px solid #4caf50;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.arrows button:hover::before {
    opacity: 1;
}
/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #14ff72cb;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}


.sidebar {
    position: fixed;
    top: 60px; /* Espacio debajo del encabezado */
    bottom: 10px; /* Espacio encima del pie de página */
    left: -250px; /* Ocultar inicialmente */
    width: 200px;
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: center;
    color: #4caf50;
    overflow-y: auto; /* Habilitar scroll si el contenido es demasiado */
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%; /* Ocupa toda la altura de la ventana */
}




  .sidebar.open {
    left: 0;
  }

  .sidebar h2 {
    margin: 0;
    padding: 20px;
    background-color: #333;
    text-align: center;
    font-size: 1.5rem;
  }

  .sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .sidebar nav button {
    background: none;
    border: none;
    background: linear-gradient(90deg, #4caf50 0%, #8bc34a 50%, #cddc39 100%);
    -webkit-background-clip: text; /* WebKit, para Chrome y Safari */
    background-clip: text; /* Propiedad estándar */
    -webkit-text-fill-color: transparent; /* Hace transparente el relleno del texto */
    text-align: left;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 1rem;
    cursor: pointer;
}

  .sidebar nav button:hover {
    background-color: #555;
  }

  /* Contenido principal */
  main {
    flex: 1;
}
  .main-content {
    margin-top: 0px; /* Espacio para el header */
    margin-bottom: 0px; /* Espacio para el footer */
    padding: 0px;
    overflow: hidden;
}


  .main-content.collapsed {
    margin-left: 0;
  }

  /* Responsive Design */

  @media screen and (max-width: 690px) {
    .logo-container h1 {
        font-size: 1.2rem; /* Tamaño reducido en dispositivos móviles */
    }

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    top: 50%;
    left: 35%;
}

.carousel .list .item:nth-child(4){
    top: 55%;
    left: calc(0% + 200px);
}

.carousel .list .item:nth-child(5){
    top: 60%;
    left: calc(0% + 250px);
}

.carousel .list .item:nth-child(6){
    top: 65%;
    left: calc(0% + 300px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(35% + 800px);
    opacity: 0;
}

.content .title, .content .name {
    font-size: 25px; 
}


    .content {
        padding: 10px 15px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        padding: 20px; /* Espaciado alrededor del texto */
        border-radius: 10px; /* Si quieres bordes redondeados */
    }

    .logo {
        max-width: 70px; /* Tamaño reducido en pantallas pequeñas */
    }

    footer {
        font-size: 0.7rem; /* Ajusta el tamaño del texto */
        padding: 0.1rem;
    }
}

/* Ocultar inicialmente la sección */

/* Estilizado general de la sección */
.contacto {
    padding: 40px;
    background-image: url("../images/image.png");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto; /* Asegura que el formulario esté centrado */
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    height: 100vh; /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.contacto h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #4caf50 0%, #8bc34a 50%, #cddc39 100%);
    -webkit-background-clip: text; /* WebKit, para Chrome y Safari */
    background-clip: text; /* Propiedad estándar */
    -webkit-text-fill-color: transparent; /* Hace transparente el relleno del texto */
}


.contacto p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.email-button button {
    background-color: #ffffff; /* Fondo blanco */
    color: rgb(0, 0, 0); /* Texto negro */
    padding: 15px 32px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold;
    border: 3px solid rgb(0, 255, 13); /* Primera línea roja */
    outline: 6px solid white; /* Segunda línea blanca */
    box-shadow: 0 0 0 9px rgb(123, 226, 5); /* Tercera línea roja */
    cursor: pointer; /* Cursor de mano */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Animación suave */
}

.email-button button:hover {
    transform: translateY(-2px); /* Movimiento hacia arriba */
    box-shadow: 0 0 0 9px red, 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra y borde rojo */
}

.email-button button:active {
    transform: translateY(2px); /* Movimiento hacia abajo al hacer clic */
    box-shadow: 0 0 0 9px red, 0 2px 4px rgba(0, 0, 0, 0.1); /* Borde y sombra más ligera */
}


/* Contenedor de los botones alineados horizontalmente */
.social-buttons {
    position: absolute; /* O fixed si quieres que siempre sean visibles */
    bottom: 20px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Espacio entre botones */
    z-index: 1000; /* Asegura que estén encima de otros elementos */

}



/* Estilo base para los botones */
.facebook-button, .whatsapp-button, .tiktok-button {
    padding: 4px 9px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo del enlace dentro de cada botón */
.facebook-link, .whatsapp-link, .tiktok-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Estilo específico para cada botón */
.facebook-button {
    background-color: #3b5998;
}

.facebook-button:hover {
    background-color: #2d4373;
}

.whatsapp-button {
    background-color: #25D366;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

.tiktok-button {
    background-color: #010101; /* Color negro de TikTok */
}

.tiktok-button:hover {
    background-color: #333333;
}

html {
    scroll-behavior: smooth;
}
