@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #171717, #242424);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: 200px;
    
}


  header button {
    font-size: 0rem;

  }

body {
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
  }
  
  .logo-container {
    display: flex; /* Mantiene el contenedor como un flex container */
    align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Alinea al centro el logo y el nombre */
    flex-grow: 1; /* Hace que este contenedor ocupe el espacio restante */
  }

.logo-container h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #ffffff 100%);
    -webkit-background-clip: text; /* WebKit, para Chrome y Safari */
    background-clip: text; /* Propiedad estándar */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    
}

.logo {
    max-width: 70px;
    height: auto; /* Mantiene proporción del logo */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.logo:hover {
    transform: scale(1.1); /* Efecto de zoom */
}

/* Estilos del pie de página */


footer {
    text-align: center;
    background: #0a0a0a;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    z-index: 200; /* Más alto que el sidebar */
        position: absolute;
        bottom: 0;
        width: 100%;
    
}



/* carousel foto grande*/

.carousel{
    position: relative;
    align-items: center;
    top: 200px;
    width: 100vw;
    height: 93vh;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 200px; /* tamanio de las fotos de la lista */
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    left: 80%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}

.list .item .content{
    position: absolute;
    top: 20%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    height: 90px;
    text-align: left;
    color: #fff;
    display: none;
    border: 1px solid #252525;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 60px;
    text-transform: uppercase;
    text-align: left;
    color: #ffffffcb;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}


.content .name{
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */

/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #ffffffcb;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}


.sidebar {
    position: fixed;
    top: 60px; /* Espacio debajo del encabezado */
    bottom: 10px; /* Espacio encima del pie de página */
    left: -250px; /* Ocultar inicialmente */
    width: 200px;
    background: linear-gradient(to bottom, #171717, #242424);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    overflow-y: auto; /* Habilitar scroll si el contenido es demasiado */
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%; /* Ocupa toda la altura de la ventana */
    
}

  .sidebar.open {
    left: 0;
  }

  .sidebar h2 {
    margin: 0;
    padding: 20px;
    background-color: #333;
    text-align: center;
    font-size: 1.5rem;
  }

  .sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .sidebar nav button {
    background: none;
    border: none;
    background: linear-gradient(to bottom, #171717, #242424);
    text-align: left;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
}

  .sidebar nav button:hover {
    background-color: #ffffff;
  }
  .main-content > div {
    display: none; /* Oculta todos los div */
}

/* Clase que muestra el div activo */
.main-content > div.active {
    display: block; /* Solo el div con la clase 'active' será visible */
}

    /* Contenido principal */
  .main-content {
    margin-top: 0px; /* Espacio para el header */
    margin-bottom: 0px; /* Espacio para el footer */
    padding: 0px;
    overflow: hidden;
}


  .main-content.collapsed {
    margin-left: 0;
  }

.contacto {
    padding: 20px;
    background: linear-gradient(to bottom, #171717, #242424);
    height: 100vh; 
    align-content: center;
}


.hidden {
    display: none;
}

/* Contenedor de los botones alineados horizontalmente */
.social-buttons {
    position: fixed;
    bottom: 20px;
    left: 23%;
    transform: translateX(-50%);
    flex-direction: column;
    z-index: 500; 
}

/* Estilo base para los botones */
.facebook-button, .whatsapp-button {
    background: linear-gradient(to bottom, #171717, #242424);
    margin-bottom: 10px;
    padding: 4px 9px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo del enlace dentro de cada botón */
.facebook-link, .whatsapp-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.gallery-button {
 display: none;
}


html {
    scroll-behavior: smooth;
}

  /* Responsive Design */

@media screen and (max-width: 690px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    .logo-container h1 {
        font-size: clamp(1rem, 5vw, 1.2rem); /* Se ajusta dinámicamente */
        white-space: nowrap; /* Evita que el texto pase a otra línea */
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: linear-gradient(to bottom, #171717, #242424);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 1000;
    }
    
    header button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }

  footer {
    text-align: center;
    background: #0a0a0a;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    position: relative; /* Asegura que esté en el flujo del documento */
    height: auto; /* Se ajusta al contenido */
    z-index: 200; /* Más alto que el sidebar */
}


  .carousel{
    top: 60px;
    width: 100vw;
    height: 98vh;
    overflow: hidden;
    position: relative;
}
.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    top: 40%;
    left: 35%;
    border: 2px solid #252525;
}

.carousel .list .item:nth-child(4){
    top: 45%;
    left: calc(0% + 200px);
    border: 2px solid #252525;
    
}

.carousel .list .item:nth-child(5){
    top: 50%;
    left: calc(0% + 250px);
    border: 2px solid #252525;
}

.carousel .list .item:nth-child(6){
    top: 55%;
    left: calc(0% + 300px);
    border: 2px solid #252525;
}

.carousel .list .item:nth-child(n+7){
    left: calc(35% + 800px);
    opacity: 0;
    border: 2px solid #252525;
}

.content .title, .content .name {
    font-size: 25px; 
}


    .content {
        margin-top: -70px ;
        padding: 10px 15px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        padding: 20px; /* Espaciado alrededor del texto */
        border-radius: 10px; /* Si quieres bordes redondeados */
        border: 5px solid #001f3f;
        filter: drop-shadow(0 10px 20px rgba(34, 33, 33, 0.9))
        drop-shadow(0 0 4px rgb(92, 85, 85));
    }

    .logo {
        max-width: 70px; /* Tamaño reducido en pantallas pequeñas */
    }

    footer {
        font-size: 0.7rem; /* Ajusta el tamaño del texto */
        padding: 0.1rem;
    }

    .proyectos {
        
        padding: 25px;
        background: linear-gradient(to bottom, #171717, #242424);
        border-radius: 40px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        display: flex; /* Habilita Flexbox */
        flex-wrap: wrap; /* Permite que los elementos salten a la siguiente línea si no caben */
        gap: 10px; /* Espaciado uniforme entre los elementos */
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        width: 100%; /* Asegura que ocupe todo el ancho disponible */
        text-align: center; /* Alinea elementos en su interior */
    }
    
    iframe {
        margin: auto;
        display: block;
        overflow: hidden;
        width: 330px; /* Ajusta un tamaño uniforme */
        height: 400px; /* Ajusta un tamaño uniforme */
        display: block; /* Elimina cualquier espacio no deseado */
    }
    
    
    
    .galery {
        background: linear-gradient(to bottom, #171717, #242424);
        z-index: 3000;
    }
    
    * {
        box-sizing: border-box;
      }
      
    
      .headergalery{
        text-align: center;
        padding: 32px;
        font-size: 14px;
        position: fixed;
        display:flex;
        flex-direction: row;
        padding: 5px 20px;
        z-index: 1000;
        background: linear-gradient(to bottom, #171717, #242424);
      }

      .headergalery p {
        color: white;
    }
    
    
     
      
      .row {
        display: -ms-flexbox; /* IE 10 */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 4px;
      }
    
      
      /* Create two equal columns that sits next to each other */
      .column {
        -ms-flex: 50%; /* IE 10 */
        flex: 50%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }
    
      /* Style the buttons */
      .btn {
        padding: 2px 12px;
        border: 1px solid #252525;
        outline: none;
        background: linear-gradient(to bottom, #171717, #242424);
        cursor: pointer;
        font-size: 18px;
        color: white;
      }
      
      .btn:hover {
        background: linear-gradient(to bottom, #171717, #242424);
        filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
        drop-shadow(0 0 4px rgba(0, 0, 0, 1));
      transition: all 0.4s ease-in-out;
      }
      
      .btn.active {
        background-color: #666;
        color: white;
      }
    
      .btnBack {
        outline: none;
        background: linear-gradient(to bottom, #171717, #242424);
        cursor: pointer;
        border: 1px solid #252525;
        border-radius: 10px;
        padding: 2px 10px;
        filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
        drop-shadow(0 0 4px rgba(0, 0, 0, 1));
      transition: all 0.4s ease-in-out;
      color: white;
      }

      /* Estilo base para los botones */
      
 .facebook-button, .whatsapp-button, .btn-gallery{
    margin-bottom: 10px;
    padding: 4px 9px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width:150px; /* Hace que todos los botones tengan el mismo ancho */
}


.facebook-link, .whatsapp-link, .btn-gallery {
    text-decoration: none;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.gallery-button {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    height: 41px;
    text-align: center;
    border-radius: 5px;
    display: block;
}
.btn-gallery svg {
    height: 20px;
    fill: white;
    transition: transform 0.3s ease;
    margin-right: 8px;
}

    .btn-gallery:hover {
        transform: translateY(-3px);
        background: linear-gradient(135deg, #242424, #303030);
        filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
      drop-shadow(0 0 4px rgba(0, 0, 0, 1));
    transition: all 0.4s ease-in-out;
    
    }

  
    .btn-gallery, .facebook-button, .whatsapp-button{
        transition: all 0.4s ease-in-out;
        background: linear-gradient(to bottom, #171717, #242424);
      }

        /* From Uiverse.io by satyamchaudharydev */ 
.card {
    width: 350px;
    height: 350px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    background: linear-gradient(135deg, #242424, #303030);
    border-radius: 20px;
    filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
  drop-shadow(0 0 4px rgba(0, 0, 0, 1));
transition: all 0.4s ease-in-out;
  }
  
  .card > * {
    margin: 0;
  }
  
  .card__title {
    font-size: 23px;
    font-weight: 900;
    color: #ffffff;
  }
  
  .card__content {
    font-size: 13px;
    line-height: 18px;
    color: #ffffff;
  }
  
  .card__form button {
    border: 0;
    background: #111;
    color: #fff;
    padding: 0.68em;
    border-radius: 14px;
    font-weight: bold;
  }
  
  .sign-up:hover {
    opacity: 0.8;
  } 
  
}
