@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, #171717, #242424);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}


  header button {
    font-size: 0rem;

  }

body {
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
  }
  
  .logo-container {
    display: flex; /* Mantiene el contenedor como un flex container */
    align-items: center; /* Alinea verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Alinea al centro el logo y el nombre */
    flex-grow: 1; /* Hace que este contenedor ocupe el espacio restante */
  }

.logo-container h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #ffffff 100%);
    -webkit-background-clip: text; /* WebKit, para Chrome y Safari */
    background-clip: text; /* Propiedad estándar */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    
}

.logo {
    max-width: 70px;
    height: auto; /* Mantiene proporción del logo */
    transition: transform 0.3s ease; /* Animación al pasar el mouse */
}

.logo:hover {
    transform: scale(1.1); /* Efecto de zoom */
}

/* Estilos del pie de página */


footer {
    text-align: center;
    background: linear-gradient(135deg, #001f3f, #0a0a0a);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 1rem;
    font-size: 0.9rem;
    position: relative; /* Asegura que esté en el flujo del documento */
    height: auto; /* Se ajusta al contenido */
    z-index: 2000; /* Más alto que el sidebar */
}



/* carousel foto grande*/

.carousel{
    position: relative;
    align-items: center;
    top: 200px;
    width: 100vw;
    height: 98vh;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 200px; /* tamanio de las fotos de la lista */
    position: absolute;
    top: 70%;
    transform: translateY(-70%);
    left: 80%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}





.list .item .content{
    position: absolute;
    top: 20%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    height: 90px;
    text-align: left;
    color: #fff;
    display: none;
    border: 1px solid #252525;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 100px;
    text-transform: uppercase;
    text-align: left;
    color: #14ff72cb;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}


.content .name{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    line-height: 1;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);

    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;
}

@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */

/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #14ff72cb;
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}


.sidebar {
    position: fixed;
    top: 60px; /* Espacio debajo del encabezado */
    bottom: 10px; /* Espacio encima del pie de página */
    left: -250px; /* Ocultar inicialmente */
    width: 200px;
    background: linear-gradient(to bottom, #171717, #242424);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    overflow-y: auto; /* Habilitar scroll si el contenido es demasiado */
    transition: left 0.3s ease;
    z-index: 1000;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 100%; /* Ocupa toda la altura de la ventana */
}

  .sidebar.open {
    left: 0;
  }

  .sidebar h2 {
    margin: 0;
    padding: 20px;
    background-color: #333;
    text-align: center;
    font-size: 1.5rem;
  }

  .sidebar nav {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .sidebar nav button {
    background: none;
    border: none;
    background: #ffffff;
    text-align: left;
    padding: 10px 20px;
    margin: 5px 0;
    font-size: 1rem;
    cursor: pointer;
}

  .sidebar nav button:hover {
    background-color: #ffffff;
  }
  .main-content > div {
    display: none; /* Oculta todos los div */
}

/* Clase que muestra el div activo */
.main-content > div.active {
    display: block; /* Solo el div con la clase 'active' será visible */
}

    /* Contenido principal */
  .main-content {
    margin-top: 0px; /* Espacio para el header */
    margin-bottom: 0px; /* Espacio para el footer */
    padding: 0px;
    overflow: hidden;
}


  .main-content.collapsed {
    margin-left: 0;
  }


/* Estilizado general de la sección */
.contacto {
    padding: 40px;
    background: linear-gradient(to bottom, #171717, #242424);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto; /* Asegura que el formulario esté centrado */
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    height: 100vh; /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
}

.contacto h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #4caf50 0%, #8bc34a 50%, #cddc39 100%);
    -webkit-background-clip: text; /* WebKit, para Chrome y Safari */
    background-clip: text; /* Propiedad estándar */
    -webkit-text-fill-color: transparent; /* Hace transparente el relleno del texto */
}


.contacto p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.email-button button {
    background-color: #ffffff; /* Fondo blanco */
    color: rgb(0, 0, 0); /* Texto negro */
    padding: 15px 32px; /* Tamaño del botón */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bold;
    border: 3px solid rgb(0, 255, 13); /* Primera línea roja */
    outline: 6px solid white; /* Segunda línea blanca */
    box-shadow: 0 0 0 9px rgb(123, 226, 5); /* Tercera línea roja */
    cursor: pointer; /* Cursor de mano */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Animación suave */
}

.email-button button:hover {
    transform: translateY(-2px); /* Movimiento hacia arriba */
    box-shadow: 0 0 0 9px red, 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra y borde rojo */
}

.email-button button:active {
    transform: translateY(2px); /* Movimiento hacia abajo al hacer clic */
    box-shadow: 0 0 0 9px red, 0 2px 4px rgba(0, 0, 0, 0.1); /* Borde y sombra más ligera */
}


/* Contenedor de los botones alineados horizontalmente */
.social-buttons {
    position: fixed; /* O fixed si quieres que siempre sean visibles */
    bottom: 20px; /* Ajusta según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Espacio entre botones */
    z-index: 1000; /* Asegura que estén encima de otros elementos */

}

/* Estilo base para los botones */
.facebook-button, .whatsapp-button {
    padding: 4px 9px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo del enlace dentro de cada botón */
.facebook-link, .whatsapp-link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Estilo específico para cada botón */
.facebook-button {
    background-color: #3b5998;
}

.facebook-button:hover {
    background-color: #2d4373;
}

.whatsapp-button {
    background-color: #25D366;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}

html {
    scroll-behavior: smooth;
}

  /* Responsive Design */

@media screen and (max-width: 690px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    .logo-container h1 {
        font-size: clamp(1rem, 5vw, 1.2rem); /* Se ajusta dinámicamente */
        white-space: nowrap; /* Evita que el texto pase a otra línea */
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: linear-gradient(to bottom, #171717, #242424);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        z-index: 1000;
    }
    
    header button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }


  .carousel{
    top: 60px;
    width: 100vw;
    height: 98vh;
    overflow: hidden;
    position: relative;
}
.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    top: 40%;
    left: 35%;
    border: 1px solid #252525;
}

.carousel .list .item:nth-child(4){
    top: 45%;
    left: calc(0% + 200px);
    border: 1px solid #252525;
    
}

.carousel .list .item:nth-child(5){
    top: 50%;
    left: calc(0% + 250px);
    border: 1px solid #252525;
}

.carousel .list .item:nth-child(6){
    top: 55%;
    left: calc(0% + 300px);
    border: 1px solid #252525;
}

.carousel .list .item:nth-child(n+7){
    left: calc(35% + 800px);
    opacity: 0;
    border: 1px solid #252525;
}

.content .title, .content .name {
    font-size: 25px; 
}


    .content {
        margin-top: -70px ;
        padding: 10px 15px;
        font-size: 14px;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        padding: 20px; /* Espaciado alrededor del texto */
        border-radius: 10px; /* Si quieres bordes redondeados */
        border: 5px solid #001f3f;
    }

    .logo {
        max-width: 70px; /* Tamaño reducido en pantallas pequeñas */
    }

    footer {
        font-size: 0.7rem; /* Ajusta el tamaño del texto */
        padding: 0.1rem;
    }

    .proyectos {
        padding: 40px;
        background: linear-gradient(to bottom, #171717, #242424);
        border-radius: 40px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        display: flex; /* Habilita Flexbox */
        flex-wrap: wrap; /* Permite que los elementos salten a la siguiente línea si no caben */
        gap: 5px; /* Espaciado uniforme entre los elementos */
        justify-content: center; /* Centra horizontalmente */
        align-items: flex-start; /* Alinea los iframes en la parte superior */
    }
    
    iframe {
        border: none;
        overflow: hidden;
        width: 330px; /* Ajusta un tamaño uniforme */
        height: 400px; /* Ajusta un tamaño uniforme */
        justify-content: center; /* Centra horizontalmente */
    }
    
    
    .galery {
        background: linear-gradient(to bottom, #171717, #242424);
    }
    
    * {
        box-sizing: border-box;
      }
      
    
      .headergalery{
        text-align: center;
        padding: 32px;
        font-size: 14px;
        position: fixed;
        display:flex;
        flex-direction: row;
        padding: 5px 20px;
        z-index: 1000;
        background: linear-gradient(to bottom, #171717, #242424);
      }

      .headergalery p {
        color: white;
    }
    
    
     
      
      .row {
        display: -ms-flexbox; /* IE 10 */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 4px;
      }
    
      
      /* Create two equal columns that sits next to each other */
      .column {
        -ms-flex: 50%; /* IE 10 */
        flex: 50%;
        padding: 0 4px;
      }
      
      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }
    
      /* Style the buttons */
      .btn {
        padding: 2px 12px;
        border: 1px solid #252525;
        outline: none;
        background: linear-gradient(to bottom, #171717, #242424);
        cursor: pointer;
        font-size: 18px;
        color: white;
      }
      
      .btn:hover {
        background: linear-gradient(to bottom, #171717, #242424);
        filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
        drop-shadow(0 0 4px rgba(0, 0, 0, 1));
      transition: all 0.4s ease-in-out;
      }
      
      .btn.active {
        background-color: #666;
        color: white;
      }
    
      .btnBack {
        outline: none;
        background: linear-gradient(to bottom, #171717, #242424);
        cursor: pointer;
        border: 1px solid #252525;
        border-radius: 10px;
        padding: 2px 10px;
        filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
        drop-shadow(0 0 4px rgba(0, 0, 0, 1));
      transition: all 0.4s ease-in-out;
      color: white;
      }

      .btn-gallery {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 20px;
        font-size: 18px;
        font-family: 'Poppins', sans-serif;
        color: white;
        background: linear-gradient(135deg, #171717, #242424);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        position: relative;
        overflow: hidden;
        z-index: 200;
        margin-top: 500px;
        left: 220px;
    }

    .btn-gallery svg {
        width: 24px;
        height: 24px;
        fill: white;
        transition: transform 0.3s ease;
        
    }

    .btn-gallery:hover {
        transform: translateY(-3px);
        background: linear-gradient(135deg, #242424, #303030);
        filter: drop-shadow(0 10px 20px rgba(26, 25, 25, 0.9))
      drop-shadow(0 0 4px rgba(0, 0, 0, 1));
    transition: all 0.4s ease-in-out;

    }

    .btn-gallery:hover svg {
        transform: rotate(10deg);
    }
  
}
